{% extends 'base.html' %} {% block content %}
<div class="container py-5">
  <div class="text-center">
    <h1 class="name">PyGPT</h1>
    <small>Ask a Python related conceptual question to see the response</small>
  </div>
  <div class="mt-5 chatbox-container">
    <div class="chatbox" id="chatbox">
      <div class="message received">
        <b>PyGPT: </b> Do you have a question for me?
      </div>
      <!-- Chat messages will be added here dynamically using JavaScript -->
    </div>
    <div class="user-input">
      <input
        type="text"
        id="user-input"
        class="form-control"
        placeholder="Type your message..."
      />
      <button
        onclick="sendMessage()"
        class="btn btn-futuristic px-2 py-1"
        id="sendMessageBtn"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-send"
          viewBox="0 0 16 16"
        >
          <path
            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
{% endblock %}
